<!doctype html>
<html>

<head>
    <title>Hier entsteht dein plentymarkets Shop</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        html {
            height: 100%;
        }
        body {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: 'Roboto', sans-serif !important;
            overflow-x: hidden;
        }
        .work-img {
            width: 100%;
            padding-top: 100%;
            background-image: url({{ plugin_path('WebshopMaintenanceMode') }}/images/work.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }


    </style>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-6 offset-3 mb-5 mb-md-0 offset-md-0 col-md-3 d-flex">
                        <div class="work-img"></div>
                    </div>
                    <div class="col-12 col-md-9">
                        <h1 class="display-4">Wartungsmodus</h1>
                        <hr/>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                            sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>